@model Finalproject.Models.Socials

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Socials</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="btn btn-info" asp-action="Index">Back to List</a>
</div>
