@model VmHome
@{
    ViewData["Title"] = "Index";
}


<section id="titleforall">
    <div class="titlecontact">
        <i class="fa-solid fa-house"></i>
        @{ int r = 0;
@foreach (var item in Model.SubCategories)
{
    if (r < 1)
    {<p>
            @item.Title
        </p>r++;
    }

} }
    </div>

</section>


<section id="left">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    @foreach (var item in Model.SubCategories)
                    {
                        <div class="col-lg-3 col-md-3 col-5 smartphones ">
                            <a asp-controller="Product" asp-action="Product" asp-route-id="@item.Id">
                                <img src="~/UploadsSubcategory/@item.Image" alt="">
                                <p>@item.Name</p>
                            </a>

                        </div>

                    }



                </div>


            </div>
            <div class="col-lg-4">

                <div class="forborder">
                    <h5>Information</h5>
                    <a href="">
                        <p>About us</p>
                    </a>
                    <a href="">
                        <p>Delivery Information </p>
                    </a>
                    <a href="">
                        <p>Privacy Policy </p>
                    </a>
                    <a href="">
                        <p>Terms & Conditions </p>
                    </a>
                    <a href="">
                        <p>Contact Us </p>
                    </a>
                </div>

                @foreach (var item in Model.Advertisings)
                {
            <div>
                <a href="@item.Link"><img class="reklamucun" src="~/UploadsAdvertising/@item.Image" alt=""></a>
            </div>}
                <div class="forborder">
                    <h5>Latest</h5>

                    @{ int v = 0; }
                    @foreach (var item in Model.Products.OrderByDescending(m => m.Category))
                    {
                        if (v < 3)
                        {
                            DateTime? itemDiscount = item.DiscountDate;
                            if (itemDiscount != null && itemDiscount > DateTime.Now)
                            {
            <div class="d-flex forhoverimage">
                <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@item.Id">

                    <img src="~/UploadsProducts/@item.Image" alt="">
                    <div class="latest">
                        <p> @item.Brand (@item.Model)</p>
                        <div class="d-flex">
                            <p class="latestp1">@item.DiscountPrice</p>
                            <p class="latestp2">@item.Price</p>
                        </div>
                    </div>

                </a>

            </div>v++;
        }

    }

}

                </div>

            </div>





        </div>


    </div>
</section>
<section id="button">
    <a class="top_button" title="Back To Top" href="#" style="display: block;"></a>
</section>